@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}
.container{
    margin-top: 20vw;
    margin-bottom: 20vw;
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    font-family: 'Roboto', sans-serif;
}
.box{
    font-size: 6vw;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: rgb(190, 157, 229);
    cursor: pointer;
}
nav{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    background-color: rgb(53, 29, 29);
    color: rgb(241, 95, 95);
    height: 42px;
    font-size: 32px;
}
nav ul{
    list-style-type: none;

}

.gamecontainer{
/* background-color: rgb(163, 136, 136); */
display: flex;
justify-content: center;
}

.gameinfo{
    font-family: 'Baloo Bhaina 2', cursive;
}
.imgbox img{
    /* display: none; */
    width: 0;
    /* transition: 1se; */
    transition: width 3s ease-in-out; 
}
.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}
#reset {
    margin: 0 23px;
    padding: 1px 18px;
    background: #f3e7f9;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Baloo Bhaina 2';
    font-size: 15px;
    font-weight: bolder;
}
.info{
    color:red;
    font-size: 28px;
}
@media screen and (max-width: 950px)
{
    .gamecontainer{
        flex-wrap: wrap;
    }
    .gameinfo{
        margin-top: 34px;
    }
    .gameinfo h1{
        font-size: 1.5rem;
    }
    .container { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}